@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.logo{

    display: flex;
    align-items: center;
    height: 50px;
    width: 118px;
}

.logo-image{
    width: 25px;
    height: 25px;
    margin:5px;
}

.logo-title{
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
}